# test artifacts
**/.pytest_cache/**
.coverage

# build artifacts
dist/
visualime.egg-info/

# dev artifacts
.idea/
**/__pycache__/**
**/.ipynb_checkpoints/**

# doc artifacts
docs/build/**
docs/source/user_guide/**
