name: Docs

on:
  push:
    paths:
      - '.github/workflows/docs.yml'
      - 'requirements-docs.txt'
      - 'docs/**'
      - 'visualime/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: actions/cache@v3.3.2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('./requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install package dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install docs dependencies
        run: |
          pip install -r requirements-docs.txt

      - name: Build HTML docs
        run: |
          cd docs
          make html

      - name: Inspect output
        run: |
          ls -R docs/build
