name: Unit Test

on:
  push:
    paths:
      - 'tests/**'
      - 'visualime/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - uses: actions/cache@v3.2.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('./requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pre-commit hooks
        run: |
          pip install -r requirements-dev.txt
          pre-commit install
          pre-commit run --all-files

      - name: Run unit tests with pytest
        run: |
          pip install -r requirements-test.txt
          pytest -v --cov visualime tests/
